<nb-card>
  <div class="row icon-buttons" style="justify-content: space-around; padding-top: 5px; padding-bottom: 5px">
    <button type="button" class="btn btn-hero-success btn-icon">
      <i class="ion ion-chevron-left"></i>
    </button>
      <button type="button" class="btn btn-hero-success btn-icon" (click)="d.toggle()">
      <input style="display: none; margin-top: 1rem;" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <i class="ion ion-calendar"></i>
      </button>
    <button type="button" class="btn btn-hero-success btn-icon">
      <i class="ion ion-chevron-right"></i>
    </button>
  </div>

</nb-card>
