@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {

  nb-card {
    background-image: nb-theme(radial-gradient);
  }

  nb-card-body {
    height: 100%;
    padding: 2rem;
    color: nb-theme(color-fg);
  }

  .location {
    font-family: nb-theme(font-secondary);
    font-size: 2.5rem;
    font-weight: nb-theme(font-weight-normal);
    color: nb-theme(color-fg-heading);
  }

  .date {
    font-family: nb-theme(font-main);
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: nb-theme(font-weight-light);
  }

  .clock-holder {
    justify-content: space-around;
  }

  .time {
    color: nb-theme(color-fg-heading);
    font-weight: 300;
    font-size: 7rem;
    /* padding: 20px; */
    margin-top: 5rem;
    /* margin-left: 0rem; */
  }

  @include media-breakpoint-down(xs) {
    nb-card-body {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
