<nb-card size="medium">
  <nb-card-body>
    <div class="location">
      <span>{{now | moment: 'dddd'}}</span>
    </div>
    <div class="date">
      <span>{{now | moment: 'DD MMMM YYYY'}}</span>
    </div>
    <div class="clock-holder">
      <div class="time">

{{now | moment: 'HH:mm'}}
      </div>
    </div>
  </nb-card-body>
</nb-card>
