<nb-card size="large">
  <div class="">

    <nb-tabset fullWidth>
      <nb-tab *ngIf="day.trainings"
              [tabTitle]="day.date | moment: 'dddd MM/DD/YYYY'"
              [active]="true">
        <div class="hour">
        <div *ngFor="let hour of day.trainings">
          <div class="stats-month">
          <div class="time">
            <b>{{hour.time | moment: 'HH:mm'}}</b>
          </div>
          <div class="results">
            <b>{{hour.trainer}}</b>
            <br>
            <b>{{hour.location}}</b>
          </div>
          <div class="results">
            <span *ngIf="!hour.userRegister">
            <button class="btn btn-hero-success btn-tn" *ngIf="hour.orders < hour.maxUsers">Order</button>
            <button class="btn btn-hero-danger btn-tn" *ngIf="hour.orders >= hour.maxUsers">Full</button>
            </span>
            <button class="btn btn-hero-warning btn-tn" *ngIf="hour.userRegister">Cancel</button>
          </div>
        </div>
          <div class="progress-container">
            <ngb-progressbar type="{{hour.orders >= hour.maxUsers ? 'danger' : 'success'}}"
                             style="height: .3rem!important;"
                             [value]="hour.orders"
                             [max]="hour.maxUsers"
                             height=".5rem"
                             [striped]="true"
                             [animated]="true"></ngb-progressbar>
          </div>
        </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </div>
</nb-card>
