@import '../../../@theme/styles/themes';
@import '~@nebular/theme/components/card/card.component.theme';
@import '~@nebular/theme/styles/global/typography/typography';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

  .table-header {
    @include nb-card-header();
    font-size: 1.25rem;

    .subtitle {
      color: nb-theme(color-fg);
      font-family: nb-theme(font-main);
      font-size: 1rem;
      font-weight: nb-theme(font-weight-light);
    }
  }

  .hour {
    max-height: 510px;
    overflow-y: auto;
  }

  @media (max-width: 575px) {
    .hour {
      max-height: 373px;
      overflow-y: auto;
    }
  }

  .progress-container {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .stats-month {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: nb-theme(padding);
    color: nb-theme(color-fg);
    border-top: 1px solid nb-theme(separator);
    .time {
      font-size: 1rem;
    }

    .month {
      display: inline-block;
      width: 2.75rem;
      font-family: nb-theme(font-secondary);
      font-size: 1.25rem;
      font-weight: nb-theme(font-weight-bolder);
      color: nb-theme(color-fg-heading);
    }

    .results {
      font-size: 0.875rem;
      font-weight: nb-theme(font-weight-light);
      font-family: nb-theme(font-secondary);
      b {
        font-family: nb-theme(font-secondary);
        font-size: 1rem;
        font-weight: nb-theme(font-weight-bolder);
        color: nb-theme(color-fg-heading);
      }
    }

    .time {
      font-weight: nb-theme(font-weight-light);
      font-family: nb-theme(font-secondary);
      b {
        font-family: nb-theme(font-secondary);
        font-size: 1.3rem;
        font-weight: nb-theme(font-weight-bolder);
        color: nb-theme(color-fg-heading);
      }
    }
  }

  @include nb-for-theme(cosmic) {
    nb-tabset /deep/ ul li.active {
      background-color: nb-theme(color-primary);
      border-radius: nb-theme(radius);

      &::before {
        display: none;
      }
    }

    .stats-block .value {
      font-weight: nb-theme(font-weight-bolder);
    }
  }
}
