<div class="row">
  <!--<div class="col-xxxl-3 col-md-6">-->
    <!--<app-pick-date></app-pick-date>-->
  <!--</div>-->
  <div class="col-xxxl-6 col-md-6 hide-sm">
    <ngx-weather></ngx-weather>
  </div>
  <div class="col-xxxl-3 col-md-6 hide-sm">
    <app-clock></app-clock>
  </div>
  <div class="col-xxxl-3 col-md-6 hide-sm">
    <app-pick-date></app-pick-date>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let i of day">
    <ngx-day-training [day]="i"></ngx-day-training>
  </div>
</div>
